@import url("https://fonts.googleapis.com/css2?family=Fira Sans");
@import url("https://fonts.googleapis.com/css2?family=JetBrains Mono");

html {
	background: #312833;
	color: #F9F5D7;
	font-family: "Fira Sans", sans-serif;
}

body { margin: 0 }

a { color: #70D5E0 }
a:hover { color: #AAEBE8 }

code {
	background: #1E1A21;
	font-family: "JetBrains Mono", "Consolas", monospace;
	font-variant-ligatures: none;
}

header {
	padding: 0.5em;
	background: #523F56;
	font-size: min(1.25em, 4.5vw);
	text-align: center;
}

header > code { background: 0 }

main { margin: 1em }

#content { max-width: 60em; margin: auto }

.colored-block { background: #523f56; padding: 0.5em 1em; margin: 0 }