@font-face { font-family: "Liberation Mono Regular"; src: url("/font/LiberationMono-Regular.ttf") }
@font-face { font-family: "Liberation Mono Italic"; src: url("/font/LiberationMono-Italic.ttf") }
@font-face { font-family: "Liberation Mono Bold"; src: url("/font/LiberationMono-Bold.ttf") }

@font-face { font-family: "Liberation Sans Regular"; src: url("/font/LiberationSans-Regular.ttf") }
@font-face { font-family: "Liberation Sans Italic"; src: url("/font/LiberationSans-Italic.ttf") }
@font-face { font-family: "Liberation Sans Bold"; src: url("/font/LiberationSans-Bold.ttf") }

@font-face { font-family: "Mindustry Classic"; src: url("/font/Mindustry Classic Font.ttf") }

:root {
	color: #fff;
	font-size: 16px;
	font-family: "Liberation Sans Regular";
	text-shadow: 2px 2px #000;
}

.mindustry-classic {
	font-family: "Mindustry Classic";
	text-transform: lowercase;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 16px;
	width: 660px;
	background: url("noise.png"), linear-gradient(#161616, #000);
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
	animation: wonders-of-box 0.4s cubic-bezier(0, 1, 0.5, 1)
}
.box:hover {
	border-color: #646464;
	outline-color: #161616;
	box-shadow: inset 0 0 0 2px #aaa;
}
.box:hover h2 { letter-spacing: 2px }

@keyframes wonders-of-box {
	0% { opacity: 0; translate: 0 128px; filter: blur(128px) }
	100% { opacity: 1; translate: 0 0; filter: blur(0) }	
}

.modal {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 16px;
	max-width: 660px;
	max-height: 90%;
	background: url("noise.png"), linear-gradient(#161616, #000);
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
}
.modal * { color: #fff }
.modal h2, .modal p { margin: 0 }

.clickity { overflow: visible; cursor: pointer }
.clickity:hover:active * { scale: 75%; opacity: 50% }
.clickity * { pointer-events: none }
.clickity, .clickity * { user-select: none }

html {
	background: url("macimas and cheese leave.png"), #000;
	animation-name: backgroundLoop;
	animation-duration: 43.93s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes backgroundLoop {
	from { background-position: 0px 0px }
	to { background-position: 616px 288px }
}

body { margin: 0 }
main * { transition: all 0.2s cubic-bezier(0, 1, 0.5, 1.5) }

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: "Liberation Mono Bold" }
p { color: #dedfe6; margin: 0; white-space: pre-line }
b { font-family: "Liberation Sans Bold" }
a { cursor: pointer; color: #0ff; text-decoration: none; box-shadow: 0 0 0 0; transition: all 0.5s cubic-bezier(0, 1, 0, 1) }
a:active { opacity: 50% }
a:not(.no-line):hover { box-shadow: 0 1px }
code { font-family: "Liberation Mono Regular"; white-space: break-spaces; }
code b { font-family: "Liberation Mono Bold" }

button {
	cursor: pointer;
	padding: 6px 16px;
	color: #fff;
	background: #fff0;
	border: 2px solid #000;
	border-radius: 16px;
	box-shadow: inset 0 0 0 2px #fff1;
	font-size: 16px;
	font-family: "Liberation Sans Regular";
	text-shadow: 2px 2px #000;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

button:hover {
	background: #fff1;
	outline: 4px solid #fff0;
	box-shadow: inset 0 0 0 2px #fff2;
}

button:active {
	background: #fff0;
	outline: none;
	box-shadow: none;
	transition: background .05s;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 50%;
	background: #fff0;
	outline: none;
	box-shadow: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.click-count {
	position: absolute;
	top: 32px;
	animation-name: show-click-count;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes show-click-count {
	from { top: 128px; opacity: 0 }
	to { top: 32px; opacity: 1 }
}

header {
	margin-top: 72px;
	margin-bottom: 8px;
	animation: wonders-of-header 0.4s cubic-bezier(0, 1, 0.5, 1);
}

@keyframes wonders-of-header {
	0% { opacity: 0; translate: 0 -128px; filter: blur(128px) }
	100% { opacity: 1; translate: 0 0; filter: blur(0) }
}

.logo { margin-bottom: 6px; min-width: 533.14px; text-align: center }
.logo img { height: 128px }
.splash-text { margin: 0 auto; max-width: 660px; min-width: 533.14px; line-height: 1; text-align: center }
.socials { display: flex; gap: 16px; text-align: center; animation: wonders-of-socials 0.4s cubic-bezier(0, 1, 0.5, 1) }
.socials a { margin-bottom: 16px; padding: 8px; line-height: 1.24 }
.socials a:hover { box-shadow: 0 11px 0 -8px; transition: all 0.2s cubic-bezier(0, 2, 1, 1) }
.socials a:active { box-shadow: 0 0 0 0; transition-timing-function: cubic-bezier(0, 1, 0, 1) }

@keyframes wonders-of-socials {
	0% { gap: 128px; opacity: 0; filter: blur(128px) }
	100% { gap: 16px; opacity: 1; filter: blur(0) }
}

.project-gallary {
	display: grid;
	grid-gap: 10px;
	grid-template:
		"nav nav"
		"img info"
		"img links";
	grid-template-columns: max-content;
}

.project-gallary > nav {
	grid-area: nav;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.project-gallary > nav > b {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.project-gallary > nav > span {
	margin: 0 auto;
}

.project-gallary > img {
	grid-area: img;

	height: 180px;
	width: 240px;
	border-radius: 8px;
}

.project-gallary > .info {
	grid-area: info;

	width: 100%;
}

.project-gallary > .links {
	grid-area: links;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 10px;
}

.table-duoduo { display: flex; justify-content: center }

tr:hover td { background: #fff1; border: 2px solid #fff2 }
td:hover { background: #fff2; border-color: #fff2 }
td:active {
	background: #fff0;
	outline: none;
	box-shadow: none;
	transition: background .05s;
}

tr td { padding: 1px 8px; border: 2px solid #0000 }

tr:first-child, td:first-child { font-family: "Liberation Sans Bold" }

td:first-child { border-radius: 6px 0 0 6px; text-align: right }
td:last-child { border-radius: 0 6px 6px 0 }

footer { padding: 128px; text-align: center }