@font-face { font-family: "Liberation Mono Regular"; src: url("/font/LiberationMono-Regular.ttf") }
@font-face { font-family: "Liberation Mono Italic"; src: url("/font/LiberationMono-Italic.ttf") }
@font-face { font-family: "Liberation Mono Bold"; src: url("/font/LiberationMono-Bold.ttf") }

@font-face { font-family: "Liberation Sans Regular"; src: url("/font/LiberationSans-Regular.ttf") }
@font-face { font-family: "Liberation Sans Italic"; src: url("/font/LiberationSans-Italic.ttf") }
@font-face { font-family: "Liberation Sans Bold"; src: url("/font/LiberationSans-Bold.ttf") }

@font-face { font-family: "Mindustry Classic"; src: url("/font/Mindustry Classic Font.ttf") }



:root {
	font-family: "Liberation Sans Regular";
	font-size: 16px;
	color: #fff;
}

.mindustry-classic {
	font-family: "Mindustry Classic";
	text-transform: lowercase;
}


html { overflow-y: scroll; overflow: overlay }
body { margin: 0 }
body * { transition: all 0.5s cubic-bezier(0, 1, 0, 1) }
.macimas-and-cheese-leave {
	background: #000 url("macimas and cheese leave.png");
	animation-name: backgroundLoop;
	animation-duration: 42.069s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes backgroundLoop {
	from { background-position: 0px 0px }
	to { background-position: 616px 288px }
}

.clickMe:hover * {
	animation-name: clickMeHover;
	animation-duration: .32s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.clickMe:active * {
	opacity: 0.5;
	scale: 0.75;
	animation-name: clickMeActive !important;
	animation-duration: .16s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes clickMeHover {
	0% { transform: rotate(2deg) }
	50% { transform: rotate(-2deg) }
	100% { transform: rotate(2deg) }
}
@keyframes clickMeActive {
	0% { transform: rotate(4deg) }
	50% { transform: rotate(-4deg) }
	100% { transform: rotate(4deg) }
}
@keyframes main-of-wonders {
	from { opacity: 0% }
	to { opacity: 100% }
}
@keyframes box-of-wonders {
	from { transform: translateY(1000px) }
	to { transform: translateY(0px) }
}
@keyframes macimas-of-wonders {
	from { transform: translateY(-1000px) }
	to { transform: translateY(0px) }
}
@keyframes count-of-wonders {
	from { opacity: 0%; transform: translate(-50%, 150px) }
	to { opacity: 100%; transform: translate(-50%, 0px) }
}



h1, h2, h3 { font-family: "Liberation Mono Bold"; margin: 0 }
h1					{ font-size: 24px }
p					{ margin: 0 }
b, td:first-child	{ font-family: "Liberation Sans Bold" }
code				{ font-family: "Liberation Mono Regular" }
code > b			{ font-family: "Liberation Mono Bold" }
a					{ color: #33e9f1; font-family: unset; text-decoration: none }
a:hover:not(.no-underline) { margin-bottom: -1px; color: #fff; border-bottom: 1px solid #eee }
a:active			{ opacity: 0.5 }
a *					{ pointer-events: none }

table				{ border-collapse: separate }
td					{ padding: 4px 8px; }
td:first-child		{ border-radius: 8px 0 0 8px; text-align: right }
td:last-child		{ border-radius: 0 8px 8px 0 }
tr:hover > td		{ background: #fff1; box-shadow: inset 0 0 0 2px #fff1 }
tr:hover > td:hover	{ background: #fff2; outline: 4px solid #fff0; box-shadow: inset 0 0 0 2px #fff2 }
tr:hover > td:active{ background: #0000; outline: none; box-shadow: none}



button.egg {
	padding: 6px 12px;
	background: #0000;
	color: #fff;
	border: 2px solid #000;
	border-radius: 16px;
	box-shadow: inset 0 0 0 2px #fff1;
	font-family: "Liberation Sans Regular";
	font-size: 16px;
	cursor: pointer;
}
button.egg:hover {
	background: #fff2;
	outline: 4px solid #fff0;
	box-shadow: inset 0 0 0 2px #fff2;
}
button.egg:active {
	background: #0000;
	outline: none;
	box-shadow: none;
	transition: background 0.05s;
}



.box {
	overflow: overlay;
	display: flex;
	max-width: 660px;
	flex-direction: column;
	gap: 6px;
	padding: 16px;
	background: url(/src/noise.png), linear-gradient(#161616, #000);
	color: #fff;
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
}
.box:hover		{ border-color: #646464; outline-color: #161616; box-shadow: inset 0 0 0 2px #aaa }
.box * { text-shadow: 2px 2px black }
.box h1			{ letter-spacing: 0px }
.box:hover h1	{ letter-spacing: 2px }

.modal-container {
	z-index: 4393;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #0006;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.modal-container:not(.visible) { opacity: 0; pointer-events: none }
.modal-container .modal {
	max-height: 90%;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.modal-container:not(.visible) .modal {
	filter: blur(16px);
	opacity: 0;
	scale: 4;
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 0)
}

.tooltip {
	z-index: 4393;
	position: absolute;
	padding: 6px 12px;
	background: #161616ee;
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	pointer-events: none;
}

.width-fill-available {
	width: -webkit-fill-available;
	width: -moz-available;
}



::-webkit-scrollbar				{ width: 12px; background: 0 }
::-webkit-scrollbar-thumb		{ background: 0; border: 4px solid #0001; border-radius: 16px; box-shadow: inset 0 0 0px 4px #fff2 }
::-webkit-scrollbar-thumb:hover { box-shadow: inset 0 0 0px 4px #fffa }

main {
	padding-top: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	animation-name: main-of-wonders;
	animation-duration: 1s;
}

.sections {
	display: flex;
	flex-direction: column;
	gap: 16px;
	animation-name: box-of-wonders;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
	animation-duration: 1s;
}

.macimas {
	display: flex;
	margin-bottom: 64px;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	animation-name: macimas-of-wonders;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.macimas *	{ user-select: none }
	.mdt-count {
		position: absolute;
		top: 32px;
		left: 50%;
		transform: translateX(-50%);
		animation-name: count-of-wonders;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0, 1, 0, 1);
	}
	.logo				{ cursor: pointer; min-width: 399.86px; text-align: center }
	.logo img	{ height: 96px; pointer-events: none }
	.logo:active img	{ transform: scale(0.8) }
	.splash-text		{ user-select: none; cursor: pointer; display: flex; min-width: 400px; line-height: 18px; justify-content: center; text-align: center }
	.socials			{ display: flex; height: 32px; flex-direction: row; gap: 16px }
	.socials a			{ cursor: pointer; height: 32px; transition: all .1s cubic-bezier(0, 1, 0, 1); opacity: 96% }
	.socials *:hover	{ transform: scale(1.2); filter: contrast(2); opacity: 100% }
	.socials *:active	{ transform: scale(1); opacity: 80% }

.table-duoduo {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center
}

footer {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding: 32px;
}



.project-nav		{ display: flex; justify-content: space-between; align-items: center }
.project-nav span	{ display: flex; flex-direction: row; align-items: center; gap: 6px }
.project-nav span p	{ color: #aaa }
.project-title		{ position: absolute; left: 50%; transform: translateX(-50%) }
.project			{ display: flex; gap: 16px }
.project img		{ width: 240px; height: 180px; border-radius: 8px }
.project-info		{ display: flex; flex-direction:column; justify-content: space-between }
.project-links		{ display: flex; justify-content: flex-end; flex-wrap: wrap; gap: 16px; row-gap: 6px }




@media (max-width: 694px) {
	:root { font-size: 12px }

	h1 { font-size: 16px }

	.macimas, .logo, .logo img, .splash-text, .sections, footer *
	{ max-width: 100%; min-width: 0 }

	.splash-text {
		width: 100vw;
	}

	.box {
		gap: 4px;
		padding: 12px;
		border-radius: 0;
	}

	.project {
		flex-direction: column;
	}

	.project img {
		width: -webkit-fill-available;
		width: -moz-available;
		height: auto;
	}
}


/*
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
}

.tablet {
	padding: 20px 28px 20px 28px;
	background: #111;
	border: 2px solid #507685;
	border-radius: 18px;
}

.tablet > main {
	overflow: hidden;
	gap: 0;
	padding: 0;
	height: 580px;
	width: 900px;
	background: #080808;
	border-radius: 4px;
	
	font-size: 12px;

}
.tablet * { display: flex; flex-direction: column; text-align: left }
.tablet h1, .tablet h2 { padding: 12px; font-family: "Roboto Bold" }
.tablet h1 { padding-bottom: 0; font-size: 18px }
.tablet h2 { font-size: 14px }

.status-bar {
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 6px 16px;
}

.status-bar *:not(.material-icons) {
	flex-direction: row;
	align-items: center;
	font-family: "Roboto Medium";
}

.android-box { overflow: hidden; padding: 4px 0; background: #101010; border-radius: 12px }

.toast {
	position: absolute;
	opacity: 0;
	padding: 8px 16px;
	background: #fffc;
	color: #000;
	border-radius: 100px;
	font-size: 14px;
	transform: translateY(500px);
	pointer-events: none;
	animation-name: animate-toast;
	animation-duration: 5s;
}

@keyframes animate-toast {
	0% { opacity: 0 }
	5% { opacity: 1 }
	95% { opacity: 1 }
	100% { opacity: 0 }
}

.settings				{ flex-direction: row; padding: 24px 48px; gap: 12px }
.settings-sidebar		{ flex-direction: column; gap: 12px; min-width: 300px }
.settings-items			{  }
.settings-item			{ flex-direction: row; gap: 16px; padding: 8px 16px; background: 0; border: 0; font-size: 13px }
.settings-item:hover	{ background: #fff1 }
.settings-item:active	{ background: #080808 }
.settings-page			{ gap: 12px }
*/