@font-face { font-family: "Liberation Mono Regular"; src: url("/font/LiberationMono-Regular.ttf") }
@font-face { font-family: "Liberation Mono Italic"; src: url("/font/LiberationMono-Italic.ttf") }
@font-face { font-family: "Liberation Mono Bold"; src: url("/font/LiberationMono-Bold.ttf") }
@font-face { font-family: "Liberation Mono Bold Italic"; src: url("/font/LiberationMono-BoldItalic.ttf") }

@font-face { font-family: "Liberation Sans Regular"; src: url("/font/LiberationSans-Regular.ttf") }
@font-face { font-family: "Liberation Sans Italic"; src: url("/font/LiberationSans-Italic.ttf") }
@font-face { font-family: "Liberation Sans Bold"; src: url("/font/LiberationSans-Bold.ttf") }
@font-face { font-family: "Liberation Sans Bold Italic"; src: url("/font/LiberationSans-BoldItalic.ttf") }

html { overflow-y: scroll; overflow: overlay }
body {
	margin: 0;
	background: #000;
	background-image: url("macimas and cheese leave.png");
	transition: background 0s;
	animation-name: backgroundLoop;
	animation-timing-function: linear;
	animation-duration: 42.069s;
	animation-iteration-count: infinite;
}
@keyframes backgroundLoop {
	from { background-position: 0px 0px }
	to { background-position: 616px 288px }
}

.clickMe:hover * {
	animation-name: clickMeHover;
	animation-duration: .24s;
	animation-iteration-count: infinite;
}
.clickMe:active * {
	animation-name: clickMeActive !important;
	animation-duration: .12s;
	animation-iteration-count: infinite;
}
@keyframes clickMeHover {
	0% { transform: rotate(1deg) }
	50% { transform: rotate(-1deg) }
	100% { transform: rotate(1deg) }
}
@keyframes clickMeActive {
	0% { transform: rotate(2deg) }
	50% { transform: rotate(-2deg) }
	100% { transform: rotate(2deg) }
}

::-webkit-scrollbar				{ width: 12px; background: #000 }
::-webkit-scrollbar-thumb		{ background-clip: padding-box; background: #323232; border: 4px solid #000; border-radius: 16px }
::-webkit-scrollbar-thumb:hover { background: #aaa }

* { color: #fff; font-family: "Liberation Sans Regular"; font-size: 16px; transition: all .5s cubic-bezier(0, 1, 0, 1) }
h1, h2, h3, h4, h5, h6 { font-family: "Liberation Mono Bold"; margin: 0; margin-bottom: 6px }
h1					{ font-size: 24px }
p					{ margin: 0 }
b, td:first-child	{ font-family: "Liberation Sans Bold" }
a					{ color: #33e9f1; font-family: unset; text-decoration: none }
a:hover				{ color: #fff ;text-decoration: underline; }
code				{ display: block; font-family: "Liberation Mono Regular"; margin: 0 }

table			{ border-collapse: separate; }
tr:hover		{ background: #fff1 }
td				{ padding: 4px 8px }
td:hover		{ background: #fff2 }
td:active		{ background: #fff1 }
td:first-child	{ border-radius: 8px 0 0 8px; text-align: right }
td:last-child	{ border-radius: 0 8px 8px 0 }



b-x {
	display: block;
	overflow: auto;
	padding: 16px;
	width: -moz-available;
	width: -webkit-fill-available;
	max-width: 660px;
	background: linear-gradient(#0e0e0e, #080808);
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
}
b-x:hover		{ border-color: #646464; outline-color: #161616; box-shadow: inset 0 0 0 2px #aaa }
b-x h1			{ letter-spacing: 0px }
b-x:hover h1	{ letter-spacing: 2px }
@media (max-width: 704px) {
	b-x {
		padding: 16px;
		max-width: 724px;
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		outline-left: 0;
		outline-right: 0;
	}
	b-x { border-left: 0; border-right: 0; outline-left: 0; outline-right: 0 }
}



main { margin-top: 128px; display: flex; flex-direction: column; align-items: center; gap: 16px }
mdt-macimas { display: flex; margin-bottom: 64px; flex-direction: column; align-items: center; gap: 8px }
mdt-macimas *				{ cursor: pointer; user-select: none }
	mdt-logo				{ min-width: 399.86px; text-align: center }
	mdt-logo img			{ height: 96px }
	mdt-logo:active img		{ transform: scale(0.8) }
	splash-text				{ display: block; min-width: 300px; text-align: center }
	splash-text code		{ line-height: 18px; user-select: all }
	mdt-socials				{ display: flex; height: 32px; flex-direction: row; gap: 16px }
	mdt-socials *			{ height: 32px; transition: all .1s cubic-bezier(0, 1, 0, 1); opacity: 96% }
	mdt-socials *:hover		{ transform: scale(1.1); opacity: 100% }
	mdt-socials *:active	{ transform: scale(0.9); opacity: 80% }

footer { padding: 16px 0; margin-top: 64px }