@font-face { font-family: "Liberation Mono Regular"; src: url("/font/LiberationMono-Regular.ttf") }
@font-face { font-family: "Liberation Mono Italic"; src: url("/font/LiberationMono-Italic.ttf") }
@font-face { font-family: "Liberation Mono Bold"; src: url("/font/LiberationMono-Bold.ttf") }

@font-face { font-family: "Liberation Sans Regular"; src: url("/font/LiberationSans-Regular.ttf") }
@font-face { font-family: "Liberation Sans Italic"; src: url("/font/LiberationSans-Italic.ttf") }
@font-face { font-family: "Liberation Sans Bold"; src: url("/font/LiberationSans-Bold.ttf") }

html { overflow-y: scroll; overflow: overlay }
body { margin: 0 }
.macimas-and-cheese-leave {
	background: #000 url("macimas and cheese leave.png");
	transition: background 0s;
	animation-name: backgroundLoop;
	animation-duration: 42.069s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes backgroundLoop {
	from { background-position: 0px 0px }
	to { background-position: 616px 288px }
}

.clickMe:hover * {
	animation-name: clickMeHover;
	animation-duration: .32s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.clickMe:active * {
	scale: 0.75;
	animation-name: clickMeActive !important;
	animation-duration: .16s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes clickMeHover {
	0% { transform: rotate(2deg) }
	50% { transform: rotate(-2deg) }
	100% { transform: rotate(2deg) }
}
@keyframes clickMeActive {
	0% { filter: opacity(0.5); transform: rotate(4deg) }
	50% { filter: opacity(0.5); transform: rotate(-4deg) }
	100% { filter: opacity(0.5); transform: rotate(4deg) }
}
@keyframes main-of-wonders {
	from { opacity: 0% }
	to { opacity: 100% }
}
@keyframes box-of-wonders {
	from { transform: translateY(1000px) }
	to { transform: translateY(0px) }
}
@keyframes macimas-of-wonders {
	from { transform: translateY(-1000px) }
	to { transform: translateY(0px) }
}
@keyframes count-of-wonders {
	from { opacity: 0%; transform: translate(-50%, 150px) }
	to { opacity: 100%; transform: translate(-50%, 0px) }
}


::-webkit-scrollbar				{ width: 12px; background: 0 }
::-webkit-scrollbar-thumb		{ background: 0; border: 4px solid #0004; border-radius: 16px; box-shadow: inset 0 0 0px 4px #fff2 }
::-webkit-scrollbar-thumb:hover { box-shadow: inset 0 0 0px 4px #fffa }

* { color: #fff; transition: all .5s cubic-bezier(0, 1, 0, 1) }

h1, h2, h3, h4, h5, h6 { font-family: "Liberation Mono Bold"; margin: 0 }
h1					{ font-size: 24px }
p					{ margin: 0 }
b, td:first-child	{ font-family: "Liberation Sans Bold" }
code				{ font-family: "Liberation Mono Regular"; display: block; margin: 0 }
code > b			{ font-family: "Liberation Mono Bold" }
a					{ color: #33e9f1; font-family: unset; text-decoration: none }
a:hover				{ color: #fff ;text-decoration: underline }

table				{ border-collapse: separate }
td					{ padding: 4px 8px }
td:first-child		{ border-radius: 8px 0 0 8px; text-align: right }
td:last-child		{ border-radius: 0 8px 8px 0 }
tr:hover > td		{ background: #1f1e22aa }
tr:hover > td:hover	{ background: #3d484aaa }
tr:hover > td:active{ background: #000 }



button {
	background: #000;
}



.box {
	display: flex;
	max-width: 660px;
	background: linear-gradient(#0f0f0f, #05050500), url('noise.png');
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
	text-shadow: 2px 2px black;
	flex-direction: column;
	gap: 6px;
	overflow: auto;
	padding: 16px;
	animation-name: box-of-wonders;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
	animation-duration: 1s;
}
.box:hover		{ border-color: #646464; outline-color: #161616; box-shadow: inset 0 0 0 2px #aaa }
.box h1			{ letter-spacing: 0px }
.box:hover h1	{ letter-spacing: 2px }
@media (max-width: 694px) {
	.box {
		padding: 16px;
		border-radius: 0;
	}
	.logo {
		width: -webkit-fill-available !important
	}
}



.width-fill-available {
	width: -webkit-fill-available;
	width: -moz-available;
}



main {
	padding-top: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	font-family: "Liberation Sans Regular";
	font-size: 16px;
	animation-name: main-of-wonders;
	animation-duration: 1s;
}
.macimas {
	display: flex;
	margin-bottom: 64px;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	animation-name: macimas-of-wonders;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.macimas *	{ user-select: none }
	.mdt-count {
		position: absolute;
		top: 32px;
		left: 50%;
		transform: translateX(-50%);
		animation-name: count-of-wonders;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0, 1, 0, 1);
	}
	.logo				{ cursor: pointer; min-width: 399.86px; text-align: center }
	.logo, .logo img	{ height: 96px }
	.logo:active img	{ transform: scale(0.8) }
	.splash-text		{ cursor: pointer; display: block; min-width: 300px; text-align: center }
	.splash-text code	{ line-height: 18px }
	.socials			{ display: flex; height: 32px; flex-direction: row; gap: 16px }
	.socials *			{ cursor: pointer; height: 32px; transition: all .1s cubic-bezier(0, 1, 0, 1); opacity: 96% }
	.socials *:hover	{ transform: scale(1.1); opacity: 100% }
	.socials *:active	{ transform: scale(1); opacity: 80% }


.table-duoduo {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center
}



.project-nav		{ display: flex; justify-content: space-between; align-items: center }
.project-nav span	{ display: flex; flex-direction: row; align-items: center; gap: 6px }
.project-nav span button {
	width: 32px;
	height: 32px;
	background: #000;
	border: 2px solid #323232;
	border-radius: 16px;
	outline: 2px solid #000;
	text-align: center;
}
.project-nav span button:hover	{ border: 2px solid #aaa; outline: 2px solid #646464 }
.project-nav span button:active	{ background: #fff; color: #000; outline: 2px solid #000; opacity: 50% }
.project-nav span p				{ color: #aaa }
.project-title					{ position: absolute; left: 50%; transform: translateX(-50%) }
.project						{ display: flex; flex-direction: row; gap: 16px }
.project img					{ width: 240px; height: 180px; border-radius: 8px }



footer { padding: 16px 0; margin-top: 64px }