/* :3 */

@font-face {
	font-family: "Liberation Sans";
	src: url("assets/fonts/Liberation/LiberationSans-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Liberation Sans";
	src: url("assets/fonts/Liberation/LiberationSans-Bold.ttf");
	font-weight: 700;
}


@font-face {
	font-family: "Liberation Mono";
	src: url("assets/fonts/Liberation/LiberationMono-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Liberation Mono";
	src: url("assets/fonts/Liberation/LiberationMono-Bold.ttf");
	font-weight: 700;
}


@font-face {
	font-family: "Mindustry Classic";
	src: url("assets/fonts/Mindustry Classic.ttf");
	font-weight: 400;
}


@font-face {
	font-family: "Minecraft";
	src: url("assets/fonts/mc/Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Minecraft";
	src: url("assets/fonts/mc/Italic.woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Minecraft";
	src: url("assets/fonts/mc/Bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: "Minecraft";
	src: url("assets/fonts/mc/BoldItalic.woff2");
	font-weight: 700;
	font-style: italic;
}


#splash,
#splash *,
#achievements,
#achievements * {
	all: unset;
}

#splash,
#splash main,
#achievements,
#achievements main {
	pointer-events: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow: hidden;

	font-size: 16px;
	font-family: "Minecraft";
}


#splash main {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	background: black;

	text-align: center;
}